In [58]:
import json
import pandas as pd
import numpy as np
from datetime import datetime,date
from sodapy import Socrata
from api_keys import MyAppToken

In [70]:

# Example authenticated client (needed for non-public datasets):
client = Socrata("data.sfgov.org",
                 MyAppToken,
                 username="lpwestlake@gmail.com",
                 password="SFcrime123")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wg3w-h783", incident_year = 2019, limit=20000)

# Convert to pandas DataFrame
df1 = pd.DataFrame.from_records(results)

df1

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,report_type_code,...,resolution,intersection,cnn,police_district,analysis_neighborhood,supervisor_district,latitude,longitude,point,cad_number
0,2019-12-31T11:00:00.000,2019-12-31T00:00:00.000,11:00,2019,Tuesday,2020-04-08T13:47:00.000,91833206372,918332,206064280,II,...,Open or Active,FUNSTON AVE \ LINCOLN WAY,27176000,Taraval,Golden Gate Park,5,37.76573925273299,-122.47072725986746,"{'latitude': '37.76573925273299', 'longitude':...",NaN
1,2019-11-10T12:00:00.000,2019-11-10T00:00:00.000,12:00,2019,Sunday,2020-04-09T09:34:00.000,91840405013,918404,200229987,II,...,Open or Active,04TH ST \ HOWARD ST,24627000,Southern,Financial District/South Beach,6,37.78325923532804,-122.40270815508224,"{'latitude': '37.78325923532804', 'longitude':...",201000872
2,2019-12-08T15:00:00.000,2019-12-08T00:00:00.000,15:00,2019,Sunday,2020-04-09T12:54:00.000,91840906374,918409,200230291,II,...,Open or Active,EDDY ST \ HYDE ST,25138000,Tenderloin,Tenderloin,6,37.78351564008561,-122.41588253952085,"{'latitude': '37.78351564008561', 'longitude':...",201001572
3,2019-10-04T16:00:00.000,2019-10-04T00:00:00.000,16:00,2019,Friday,2020-04-08T09:52:00.000,91815374000,918153,200228224,II,...,Open or Active,WALLER ST \ STANYAN ST,26433000,Park,Golden Gate Park,5,37.768246024114525,-122.45335228997452,"{'latitude': '37.768246024114525', 'longitude'...",200990817
4,2019-09-14T10:00:00.000,2019-09-14T00:00:00.000,10:00,2019,Saturday,2020-04-06T20:27:00.000,91812206244,918122,206063577,II,...,Open or Active,NaN,NaN,Taraval,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2019-12-21T22:00:00.000,2019-12-21T00:00:00.000,22:00,2019,Saturday,2020-01-07T10:53:00.000,89003406374,890034,206004797,II,...,Open or Active,HARRISON ST \ LAPU-LAPU ST,24579000,Southern,South of Market,6,37.78179876714438,-122.39834110837147,"{'latitude': '37.78179876714438', 'longitude':...",NaN
19996,2019-12-05T12:30:00.000,2019-12-05T00:00:00.000,12:30,2019,Thursday,2020-01-02T01:22:00.000,88711609250,887116,200002733,II,...,Open or Active,06TH ST \ TEHAMA ST,24280000,Southern,South of Market,6,37.779314673752964,-122.4066282007833,"{'latitude': '37.779314673752964', 'longitude'...",200020112
19997,2019-09-08T06:00:00.000,2019-09-08T00:00:00.000,06:00,2019,Sunday,2019-09-08T14:18:00.000,84434964070,844349,190670254,II,...,Open or Active,WARD ST \ BRUSSELS ST,20560000,Ingleside,Visitacion Valley,10,37.71872069426674,-122.40210258596782,"{'latitude': '37.71872069426674', 'longitude':...",192512032
19998,2019-10-30T09:00:00.000,2019-10-30T00:00:00.000,09:00,2019,Wednesday,2020-01-08T09:44:00.000,88938109320,889381,200018150,II,...,Open or Active,VALENCIA ST \ 14TH ST,24378000,Mission,Mission,8,37.7681396823622,-122.42219917520208,"{'latitude': '37.7681396823622', 'longitude': ...",200081170
19999,2019-11-27T14:45:00.000,2019-11-27T00:00:00.000,14:45,2019,Wednesday,2019-12-02T10:32:00.000,87624705153,876247,190907245,II,...,Open or Active,FRONT ST \ CALIFORNIA ST,24674000,Central,Financial District/South Beach,3,37.79335909911544,-122.39878164850376,"{'latitude': '37.79335909911544', 'longitude':...",193360899

In [67]:
# 2020 data set):
client = Socrata("data.sfgov.org",
                 MyAppToken,
                 username="lpwestlake@gmail.com",
                 password="SFcrime123")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wg3w-h783", incident_year = 2020, limit=5000)

# Convert to pandas DataFrame
df2 = pd.DataFrame.from_records(results)

df2

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,cad_number,...,resolution,intersection,cnn,police_district,analysis_neighborhood,supervisor_district,latitude,longitude,point,filed_online
0,2020-04-09T09:40:00.000,2020-04-09T00:00:00.000,09:40,2020,Thursday,2020-04-09T09:40:00.000,91837627170,918376,200229915,201000890,...,Cite or Arrest Adult,ELLIS ST \ POWELL ST,24894000,Central,Financial District/South Beach,3,37.785491559268934,-122.40785252141461,"{'latitude': '37.785491559268934', 'longitude'...",NaN
1,2020-04-09T14:00:00.000,2020-04-09T00:00:00.000,14:00,2020,Thursday,2020-04-09T18:46:00.000,91849704134,918497,200230978,201002339,...,Open or Active,SILVER AVE \ SOMERSET ST,20908000,Bayview,Portola,9,37.73125509599642,-122.40947816712493,"{'latitude': '37.73125509599642', 'longitude':...",NaN
2,2020-04-09T17:18:00.000,2020-04-09T00:00:00.000,17:18,2020,Thursday,2020-04-09T17:27:00.000,91848268020,918482,200230796,201002568,...,Open or Active,ANZA ST \ 16TH AVE,27479000,Richmond,Outer Richmond,1,37.778602200278876,-122.4749561631184,"{'latitude': '37.778602200278876', 'longitude'...",NaN
3,2020-04-09T16:15:00.000,2020-04-09T00:00:00.000,16:15,2020,Thursday,2020-04-09T16:24:00.000,91847664070,918476,200230724,201002342,...,Open or Active,KEARNY ST \ JACKSON ST,24778000,Central,Chinatown,3,37.796210953409165,-122.40514297852731,"{'latitude': '37.796210953409165', 'longitude'...",NaN
4,2020-04-09T07:05:00.000,2020-04-09T00:00:00.000,07:05,2020,Thursday,2020-04-09T08:49:00.000,91835728160,918357,200229802,201000629,...,Open or Active,IRVING ST \ 19TH AVE,27372000,Taraval,Sunset/Parkside,4,37.76355949705151,-122.47717411231692,"{'latitude': '37.76355949705151', 'longitude':...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020-03-18T15:55:00.000,2020-03-18T00:00:00.000,15:55,2020,Wednesday,2020-03-18T15:55:00.000,91388126170,913881,200196433,200782341,...,Cite or Arrest Adult,WHITNEY YOUNG CIR \ CASHMERE ST \ DEDMAN CT,20200000,Bayview,Bayview Hunters Point,10,37.7366011278019,-122.38571301129124,"{'latitude': '37.7366011278019', 'longitude': ...",NaN
4996,2020-03-15T15:00:00.000,2020-03-15T00:00:00.000,15:00,2020,Sunday,2020-03-16T12:24:00.000,91398206372,913982,206056613,NaN,...,Open or Active,NaN,NaN,Park,NaN,NaN,NaN,NaN,NaN,True
4997,2020-03-19T19:05:00.000,2020-03-19T00:00:00.000,19:05,2020,Thursday,2020-03-19T19:06:00.000,91413104134,914131,200198398,200793051,...,Open or Active,FOERSTER ST \ MONTEREY BLVD,22232000,Ingleside,West of Twin Peaks,7,37.73154295855655,-122.44886626631308,"{'latitude': '37.73154295855655', 'longitude':...",NaN
4998,2020-03-09T19:00:00.000,2020-03-09T00:00:00.000,19:00,2020,Monday,2020-03-16T15:39:00.000,91398706244,913987,200176582,NaN,...,Open or Active,OSGOOD PL \ PACIFIC AVE,24761000,Central,North Beach,3,37.79739648082984,-122.40288650206678,"{'latitude': '37.79739648082984', 'longitude':...",True
4999,2020-03-19T15:25:00.000,2020-03-19T00:00:00.000,15:25,2020,Thursday,2020-03-19T15:39:00.000,91412204134,914122,200197970,200792223,...,Open or Active,MCALLISTER ST \ LARKIN ST,24439000,Tenderloin,Tenderloin,6,37.780470340397024,-122.41694760620521,"{'latitude': '37.780470340397024', 'longitude'...",NaN

In [26]:
# url = "https://data.sfgov.org/resource/wg3w-h783.json?$limit=1000";


# data = pd.read_json(url) 

# data.head()

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,cad_number,...,:@computed_region_qgnn_b9vv,:@computed_region_26cr_cadq,:@computed_region_ajp5_b2md,:@computed_region_6pnf_4xz7,:@computed_region_nqbw_i6c3,:@computed_region_h4ep_8xdi,:@computed_region_2dwj_jsy4,filed_online,:@computed_region_jg9y_a9du,:@computed_region_y6ts_4iup
0,2019-05-01T01:00:00.000,2019-05-01T00:00:00.000,2020-04-10 01:00:00,2019,Wednesday,2019-06-12T20:27:00.000,81097515200,810975,190424067,191634131.0,...,10.0,7.0,35.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-06-22T07:45:00.000,2019-06-22T00:00:00.000,2020-04-10 07:45:00,2019,Saturday,2019-06-22T08:05:00.000,81465564020,814655,190450880,191730737.0,...,1.0,10.0,34.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN
2,2019-06-03T16:16:00.000,2019-06-03T00:00:00.000,2020-04-10 16:16:00,2019,Monday,2019-06-03T16:16:00.000,80769875000,807698,190397016,191533509.0,...,2.0,9.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-11-16T16:34:00.000,2018-11-16T00:00:00.000,2020-04-10 16:34:00,2018,Friday,2018-11-16T16:34:00.000,73857915041,738579,180870806,183202539.0,...,6.0,3.0,6.0,2.0,NaN,NaN,18.0,NaN,NaN,NaN
4,2019-05-27T02:25:00.000,2019-05-27T00:00:00.000,2020-04-10 02:25:00,2019,Monday,2019-05-27T02:55:00.000,80509204134,805092,190378555,191470256.0,...,4.0,6.0,13.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
# normalize date column
df1['incident_date'] = pd.to_datetime(df1['incident_date'], format = '%Y-%m-%d')

# filter out only the columns we want and drop rows with NaN values for lat and lon

filtered_df = df1.filter(items = ["incident_date",
                                   "incident_category",
                                   "incident_subcategory",
                                   "incident_description",
                                   "incident_day_of_week",
                                   "Resolution",
                                   "incident_code",
                                   "incident_id", 
                                   "incident_number", 
                                   "latitude", 
                                   "longitude"])
clean_df1 = filtered_df.dropna()

clean_df1

,incident_date,incident_category,incident_subcategory,incident_description,incident_day_of_week,incident_code,incident_id,incident_number,latitude,longitude
0,2019-12-31,Larceny Theft,Larceny Theft - Other,"Theft, Other Property, $50-$200",Tuesday,06372,918332,206064280,37.76573925273299,-122.47072725986746
1,2019-11-10,Burglary,Burglary - Residential,"Burglary, Apartment House, Unlawful Entry",Sunday,05013,918404,200229987,37.78325923532804,-122.40270815508224
2,2019-12-08,Larceny Theft,Larceny Theft - Other,"Theft, Other Property, >$950",Sunday,06374,918409,200230291,37.78351564008561,-122.41588253952085
3,2019-10-04,Missing Person,Missing Adult,Missing Adult,Friday,74000,918153,200228224,37.768246024114525,-122.45335228997452
5,2019-12-28,Larceny Theft,Larceny Theft - Other,"Theft, Other Property, $50-$200",Saturday,06372,918113,206063806,37.78404443715923,-122.40371175457705
...,...,...,...,...,...,...,...,...,...,...
19995,2019-12-21,Larceny Theft,Larceny Theft - Other,"Theft, Other Property, >$950",Saturday,06374,890034,206004797,37.78179876714438,-122.39834110837147
19996,2019-12-05,Fraud,Fraud,Fraudulent Use Of Automated Teller Card,Thursday,09250,887116,200002733,37.779314673752964,-122.4066282007833
19997,2019-09-08,Suspicious Occ,Suspicious Occ,Suspicious Occurrence,Sunday,64070,844349,190670254,37.71872069426674,-122.40210258596782
19998,2019-10-30,Fraud,Fraud,"Access Card, incl. Credit, Phone, ATM, Fraudul...",Wednesday,09320,889381,200018150,37.7681396823622,-122.42219917520208
19999,2019-11-27,Burglary,Burglary - Other,"Burglary, Non-residential, Unlawful Entry",Wednesday,05153,876247,190907245,37.79335909911544,-122.39878164850376

In [91]:
# select only the dates wanted

start_date = '2019-01-1'
end_date = '2019-04-10'

mask = (clean_df1['incident_date'] > start_date) & (clean_df1['incident_date'] <= end_date)

clean_df1 = clean_df1.loc[mask]
clean_df1

,incident_date,incident_category,incident_subcategory,incident_description,incident_day_of_week,incident_code,incident_id,incident_number,latitude,longitude
18,2019-02-25,Motor Vehicle Theft,Motor Vehicle Theft,"Vehicle, Stolen, Auto",Monday,07021,917212,200221353,37.72973755204471,-122.38343118497463
20,2019-03-06,Case Closure,Case Closure,Case Closure,Wednesday,75030,916758,190164310,37.7751608100771,-122.40363551943442
21,2019-03-06,Non-Criminal,Non-Criminal,"Firearm, Turned In by Public",Wednesday,73010,916758,190164310,37.7751608100771,-122.40363551943442
23,2019-02-15,Arson,Arson,Arson of Vehicle,Friday,26031,916800,200116732,37.774857948188554,-122.4276310004111
26,2019-02-15,Case Closure,Case Closure,Case Closure,Friday,75030,916800,200116732,37.774857948188554,-122.4276310004111
...,...,...,...,...,...,...,...,...,...,...
18911,2019-01-03,Burglary,Burglary - Commercial,"Burglary, Store, Forcible Entry",Thursday,05051,887497,200005367,37.785491559268934,-122.40785252141461
19204,2019-01-13,Assault,Simple Assault,Battery,Sunday,04134,892001,200036704,37.784448840613585,-122.41607173623363
19274,2019-01-27,Weapons Offense,Weapons Offense,"Weapon, Deadly, Possession W/ Intent To Assault",Sunday,12060,874981,190898519,37.78829319282882,-122.40840155198468
19439,2019-01-03,Robbery,Robbery - Other,"Robbery, W/ Knife",Thursday,03072,888094,200009444,37.7549319706097,-122.39594290157365
19446,2019-04-10,Fraud,Fraud,False Personation to Receive Money or Property,Wednesday,09029,881503,190943841,37.73735790354421,-122.4231169863442

Empty DataFrame
Columns: [incident_date, incident_category, incident_subcategory, incident_description, incident_day_of_week, incident_code, incident_id, incident_number, latitude, longitude]
Index: []