In [2]:
import json
import pandas as pd
import numpy as np
import requests
from sodapy import Socrata
from api_keys import MyAppToken

import dtale

from datetime import datetime, date, timedelta
import time

# Set to True if you want "all the info messages"
debug = False;
# print(MyAppToken)

#checking the day of the month and printing the result, this is used to filter the dataframe later
today = date.today()
day = today.strftime("%d")
                     
todaysDate = time.strftime("%m-%d-%Y")
todaysFile = todaysDate + ".csv"
                     
if(debug):
    print("Day =", day);

In [3]:
crime_data = "ijzp-q8t2"
client = Socrata("data.cityofchicago.org", MyAppToken)

In [7]:
df = pd.DataFrame(
    client.get(
        crime_data, 
        where="Date BETWEEN '2020-01-01' AND '2020-02-01'",
        # Date = "2014-10-13T00:00:00.000",
        # Year = "2020",
        # Description = "DOMESTIC BATTERY SIMPLE",
        #Date = '04/06/2020',
        #[Offense Start DateTime] = '2015-01-10T12:00:00' and '2015-01-10T14:00:00', 
        # offense = "Robbery",
        # offense_code = 120,
        # offense_start_datetime = "2015-02-01T00:00:00",
        #offense_start_datetime BETWEEN "2015-01-31 00:00:00" AND "2015-02-01 23:59:59",
        limit=20,
        exclude_system_fields=True
    )
)
client.close()

df["city"] = "Chicago";

df['day'] = pd.DatetimeIndex(df['date']).day
df['month'] = pd.DatetimeIndex(df['date']).month
df['year'] = pd.DatetimeIndex(df['date']).year
df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')

df["primary_type"] = df["primary_type"].str.lower().str.title()
df["description"] = df["description"].str.lower().str.title()
df["location"] = df["location_description"].str.lower().str.title()

# Organize: 
final = df[[
    "city"
    , "primary_type"
    , "description"
    , "date"
    , "day"
    , "month"
    , "year"
    , "location"
    , "latitude"
    , "longitude"
    , "domestic"
]]

final.head()

,city,primary_type,description,date,day,month,year,location,latitude,longitude,domestic
0,Chicago,Deceptive Practice,Financial Identity Theft Over $ 300,2020-01-01,1,1,2020,Apartment,41.940221932,-87.669039008,False
1,Chicago,Criminal Sexual Assault,Non-Aggravated,2020-01-01,1,1,2020,Apartment,41.81227369,-87.748176594,False
2,Chicago,Deceptive Practice,Financial Identity Theft Over $ 300,2020-01-01,1,1,2020,Apartment,41.915306069,-87.686639247,False
3,Chicago,Criminal Sexual Assault,Attempt Non-Aggravated,2020-01-01,1,1,2020,Apartment,41.779120086,-87.615599494,True
4,Chicago,Offense Involving Children,Child Abuse,2020-01-01,1,1,2020,Apartment,41.75594534,-87.606563323,True

In [9]:
domestic_crimes = final['domestic'] == True
non_domestic_crimes = final['domestic'] == False
domestic_crimes_df = final[domestic_crimes]
non_domestic_crimes_df = final[non_domestic_crimes]

domestic_crimes_df

,city,primary_type,description,date,day,month,year,location,latitude,longitude,domestic
3,Chicago,Criminal Sexual Assault,Attempt Non-Aggravated,2020-01-01,1,1,2020,Apartment,41.779120086,-87.615599494,True
4,Chicago,Offense Involving Children,Child Abuse,2020-01-01,1,1,2020,Apartment,41.75594534,-87.606563323,True
5,Chicago,Offense Involving Children,Child Abuse,2020-01-01,1,1,2020,Residence,41.95022897,-87.742111884,True
9,Chicago,Offense Involving Children,Child Abuse,2020-01-01,1,1,2020,Apartment,41.890006068,-87.712331343,True
13,Chicago,Sex Offense,Criminal Sexual Abuse,2020-01-01,1,1,2020,Residence,41.930041027,-87.767420369,True

In [8]:
# https://dtale.readthedocs.io/en/latest/
dtale.show(final, host='localhost', ignore_duplicate=True)

Exception on /charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1820, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "D:\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1935, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "D:\Anaconda3\lib\site-packages\dash\dash.py", line 967, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "D:\Anaconda3\lib\site-packages\dash\dash.py", line 902, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "D:\Anaconda3\lib\site-packages\dtale\dash_application\views.py", line 467, in display_page
    data_id = get_data_id(pathname)
  File "D:\Anaconda3\lib\site-packages\dtale\dash_application\views.py", line 84, in get_data_id
    return pathname.split('/')[-1]
AttributeError: 'NoneType' object has no attribute 'split'

2020-04-14 20:40:22,724 - ERROR    - Exception on /charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1820, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "D:\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  File "D:\Anaconda3\lib\site-packages\flask\app.py", line 1935, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "D:\Anaconda3\lib\site-packages\dash\dash.py", line 967, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "D:\Anaconda3\lib\site-packages\dash\dash.py", line 902, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "D:\Anaconda3\lib\site-packages\dtale\dash_application\views.py", line 467, in display_page
    data_id = get_data_id(pathname)
  File "D:\Anaconda3\lib\site-packages\dtale\dash_application\views.py", line 84, in get_data_id
    return pathname.split('/')[-1]
AttributeError: 'NoneType' object has no attribute 'split'

In [10]:
#making dictionaries for mongoDB
non_domestic_chicago_data = non_domestic_crimes_df.to_dict()
domestic_chicago_data = domestic_crimes_df.to_dict()